.user{
    .menu{
        color: #848484;
        h2{
            font-size: 1rem;
        }
        ul{
            li{
                font-size: 1rem;
                padding-bottom: 1rem;
                a {
                    color: #848484;
                }
            }
        }
    }

    .personal{
        color: $secondary;
        h2{
            font-size: 1rem;
        }
        span{
            font-size: 0.5rem;
        }
    }
    .change {
        h2 {
            font-size: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #818A91;
            margin-bottom: 1rem;
        }

        label,
        span,
        input,
        select {
            margin-bottom: 1rem;
            color: #818A91;
        }

        input[type="text"],
        input[type="checkbox"],
        select {
            border: 1px solid #CED4DA;
            border-radius: 4px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        input[type="checkbox"]{
            width: 18px;
            height: 18px;
        }

        input[type="submit"] {
            background: $primary;
            color: $light;
            border: none;
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .button{
            transition: all 0.4s;

            &:hover {
                background: rgb(145, 65, 0)
            }
        }
    }
}

